.container {
  margin-top: 16px;
  .aside {
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    height: 90vh;
  }
  .chatArea {
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    height: 90vh;
  }
}

.aside-page-box {
  border-bottom: 1px solid #dfdfdf;
}
