$font-family: 'Roboto', 'Noto Sans TC', 'arial', '微軟正黑體';

$color_blue: #49b1c2;
$color_blue_choose: #d0ecf0;
$color_grey: #474747;
$color_light: #949494;
$color_orange: #f9c149;
$color_red: #ec6a6a;

$color_background: #f6f6f6;
$color_border: #dfdfdf;
$boder_radius: 6px;

$font_title_size: 24px;
$font_content_size: 18px;

.chatroom {
  font-family: $font-family;
  .container {
    margin-top: 16px;
    margin-bottom: 16px;

    .aside {
      border: 1px solid #dfdfdf;
      border-radius: 6px;
      height: 90vh;
      padding: 0;
      margin: 0;
    }
    .chatArea {
      border: 1px solid #dfdfdf;
      border-radius: 6px;
      height: 90vh;
    }
    .aside-page-box {
      border-bottom: 1px solid #dfdfdf;
      .chat-link {
        display: block;
        text-decoration: none;
      }
      .chat-link.active {
        border-bottom: 4px solid $color_blue;
      }
    }
    .message {
      height: 74vh;
      padding-bottom: 12px;
      .list-group {
        padding: 0;
        flex: 1;
        height: 100%;
        overflow: auto;
        text-decoration: none;
        h5 {
          display: inline-block;
        }
      }
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 16px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .message-date {
        width: 30%;
        font-size: 8px;
        display: inline-block;
        overflow: hidden;
      }
      .list-group-item {
        padding-left: 14px;
        padding-right: 12px;
        padding-top: 0;
        padding-bottom: 0;
        text-decoration: none;
      }
      .list-group-item.active {
        background-color: $color_blue_choose;
        border-color: $color_border;
        color: black;
      }
      small {
        font-size: 14px;
        width: 93%;
        display: inline-block;
      }
    }
    //
    .friendList {
      height: 74vh;
      padding-bottom: 12px;
      .list-group {
        flex: 1;
        height: 100%;
        overflow: auto;
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 16px;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        h5 {
          width: 70%;
          display: inline-block;
        }
      }
      .list-group-item {
        width: 100%;
        text-decoration: none;
      }

      .list-group-item.active {
        background-color: $color_blue_choose;
        border-color: $color_border;
        color: black;
      }
    }
    //
    .chat_box {
      h5 {
        font-size: 14px;
      }
      .message_list {
        padding-top: 14px;
        height: 80vh;
        ul {
          height: 90%;
          overflow: auto;
          li {
            width: 50%;
            margin-bottom: 8px;
            .text-box {
              display: flex;
              h5 {
                width: 90%;
                background-color: $color_blue_choose;
                border-radius: $boder_radius;
                padding: 14px 28px;
                line-height: 18px;
              }

              .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 16px;
                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .text-box.sender {
              justify-content: flex-end;
            }
            small {
              width: 100%;
              text-align: right;
              display: inline-block;
            }
          }
        }
        li.sender {
          margin-left: 50%;
        }
      }
      .send_box {
        height: 10%;
        input[type='text'] {
          padding: 8px 8px;
          display: inline-block;
          border: 1px solid $color_border;
          border-radius: $boder_radius;
          vertical-align: middle;
          box-sizing: border-box;
          width: 88%;
          transition: all 0.3s;
          position: relative;
          transition: all 0.3s;
        }
        input[type='text']:focus {
          outline: none;
          border: 1px solid $color_blue_choose;
          box-shadow: none;
        }
        .button.button--yellow {
          width: 12%;
          line-height: 0px;
          height: 42px;
          border-radius: 0;
          padding: 10px 10px;
          border-radius: $boder_radius;
        }
      }
      /* focus藍色橫線 */
    }
  }
}
