// mixin
$blue: #6ec4d2 !important;
$red: #ec6a6a !important;
$yellow: #f9c149 !important;
$black: #474747 !important;
$grey: #949494 !important;
$white: #fff !important;

$dark-blue: #4fb2c1 !important;
$dark-yellow: #f9a629 !important;

.OpenMemberPage {
  .OMPsidePage {
    margin: 12px 0px;
    margin-right: 12px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(black, 0.1);
    font-size: 18px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    .imgOut {
      width: 100%;
      height: 60%;

      margin-bottom: 18px;
      img {
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        object-fit: cover;
      }
    }
    .fa-dice-five,
    .fa-user-friends {
      font-size: 24px;
      margin-bottom: 16px;
      color: #bbb;
    }
    .disabled-button {
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      padding: 0 16px;
      height: 36px;
      line-height: 36px;
      min-width: 64px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0;
      background-color: $blue;
      border-color: transparent;
      border: none;
      border-radius: 6px;
      outline: 0;

      overflow: hidden;
      transition: all 0.3s;
      color: $white;
      font-weight: 400;
    }
  }

  //////detail//////

  .OMPdetail {
    display: inline-block;
    vertical-align: top;
    min-height: 70vh;
    margin: 12px 0px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(black, 0.1);
    width: calc(75% - 12px);
    font-size: 18px;
    padding: 32px 28px;
    .memberDetail {
      span {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        padding: 0 16px;
        height: 36px;
        line-height: 36px;
        min-width: 64px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0;
        background-color: $blue;
        border-color: transparent;
        border: none;
        border-radius: 36px;
        outline: 0;
        overflow: hidden;
        transition: all 0.3s;
        color: $white;
        font-weight: 400;
      }
    }
    .aboutMe {
      .me {
        display: inline-block;
        border-radius: 4px;
        border-bottom: 1px solid rgba(black, 0.1);
      }
    }
  }
}

.chatArea {
  .OMPdetail {
    display: inline-block;
    vertical-align: top;
    min-height: 70vh;
    margin: 12px 0px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(black, 0.1);
    font-size: 18px;
    padding: 32px 28px;
    width: 100%;
    .memberDetail {
      a {
        width: 35%;
      }
      // span {
      //   display: inline-block;
      //   vertical-align: top;
      //   position: relative;
      //   margin: 0;
      //   padding: 0 16px;
      //   height: 36px;
      //   line-height: 36px;
      //   min-width: 64px;
      //   box-sizing: border-box;
      //   font-size: 16px;
      //   font-weight: 500;
      //   text-align: center;
      //   text-decoration: none;
      //   letter-spacing: 0;
      //   background-color: $blue;
      //   border-color: transparent;
      //   border: none;
      //   border-radius: 36px;
      //   outline: 0;
      //   overflow: hidden;
      //   transition: all 0.3s;
      //   color: $white;
      //   font-weight: 400;
      // }
    }
    .aboutMe {
      .me {
        display: inline-block;
        border-radius: 4px;
        border-bottom: 1px solid rgba(black, 0.1);
      }
    }
  }
}
