$font-family: 'Roboto', 'Noto Sans TC', 'arial', '微軟正黑體';
$color_blue: #49b1c2;
$color_grey: #474747;
$color_light: #949494;
$color_orange: #f9c149;
$color_red: #ec6a6a;
$color_background: #f6f6f6;
$color_border: #dfdfdf;
$boder_radius: 6px;
$font_title_size: 24px;
$font_content_size: 18px;
$shadow: 0px 1px 4px rgba(black, 0.2);
.cart {
  .cart-title {
    width: 100%;
    height: 60px;
    margin: 20px auto 0 auto;
    position: relative;
      .h21{left: 40%;position: absolute;}
      .clear1{
        left: 80%;
      }
    
  }
  ul {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
  }
  > ul {
    padding: 0px;
    display: flex;
    justify-content: left;
    > li {
      > a {
        height: 100%;
        line-height: 72px;
        color: $color_grey;
      }
    }
  }
  ul.cart_nav {
    display: flex;
    li {
      .mycart {
        color: $color_blue;
      }
      .myfav {
        color: $color_grey;
      }
      a {
        padding: 0 18px;
      }
      a:hover {
        color: $color_blue;
      }
      a.active {
        color: $color_blue;
      }
    }
  }
  .myfav-table {
    /////////////////////radio///////////////
    .container1 {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      width: 100%;
      cursor: pointer;
      font-size: 18px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .container1 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
    .container1:hover input ~ .checkmark {
      background-color: rgb(204, 204, 204);
    }
    .container1 input:checked ~ .checkmark {
      background-color: $color_orange;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .container1 input:checked ~ .checkmark:after {
      display: block;
    }
    .container1 .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
    /////////////////////radio///////////////
    margin-bottom: 150px;
    .table_head {
      background: #D6EEF2;
      color: $color_grey;

      tr th {
        border: none;
        font-weight: 400;
      }

    }
    
    .table-bordered td {
      border: none;
    }
    tr {
      font-size: 18px;
      text-align: center;
      line-height: 100%;
      border-bottom: 3px solid #f6f6f6;
      .todo{width: 20%;}
      .name{
        font-size: 18px;
        width: 16%;
      } 
      .numbers{
          width: 100%;
          margin: 0 0px;
          text-align: center;
        }
      td {
        width: 16%;
        background: #ffffff;
        margin: auto auto;
        line-height: 50px;
        color: $color_grey;
      
       
        i{
          margin-top: 15px;
        }
      }
    }
  }
  .myfav0-table{
    margin: 0 auto;
    .cart-img{
      padding: 100px 400px;
      
    }
    .words{
      margin: 0 auto;
      padding: 100px 60px;
      text-align: center;
      font-size: 24px;
    }
  }
  .container {
    position: relative;
    min-height: 80vh;
    .check {
      width: 100%;
      height: 400px;
      // position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      .gotocheck {
        .clear{
          width: 200px;
          height: 40px;
        }
        width: 40%;
        .GET-control{
          width: 200px;
          border:1px solid #d3c9c9;
          color: #9b8f8f;
        }
        .money {
          display: flex;
          justify-content: space-between;
          height: 50px;
          h5 {
            margin: 0;
            color: $color_light;
          }
          h3 {
            margin: 0;
          }
          .total {
            color: $color_red;
          }
        }
      }
      .remind {
        height: 20px;
        width: 50%;
        color: $color_light;
      }
      .checkbutton {
        padding: 0 auto;
        width: 100%;
        display: flex;
        .checkbutton1{
          width:200px;
          height: 40px;
        }
        .checkbutton2{
          width: 180px;
          height: 40px;
        }
        .button{
          margin: 25px;
        }
      }
      
    }
  }
}
