$font-family: 'Roboto', 'Noto Sans TC', 'arial', '微軟正黑體';
$color_blue: #49b1c2;
$color_grey: #474747;
$color_light: #949494;
$color_orange: #f9c149;
$color_red: #ec6a6a;
$color_background: #f6f6f6;
$color_border: #dfdfdf;
$boder_radius: 6px;
$font_title_size: 24px;
$font_content_size: 18px;
$shadow: 0px 1px 4px rgba(black, 0.2);
  .fav{
    ul{
      list-style: none;
    }
    a{
      display: block;
      text-decoration: none;
    }
    > ul {
      padding: 0px;
      display: flex;
      justify-content: left;
      > li {
        > a {
          height: 100%;
          line-height: 72px;
          color: $color_grey;
        }
      }
    }
    ul.cart_nav {
        display: flex;
      li {
      .mycart{
          color:$color_grey;
      }
      .myfav{
          color:$color_blue;
      }
        a {
          padding: 0 18px;
        }
         a:hover {
            color: $color_blue;
          }
           a.active {
            color: $color_blue;
          }

      }
    }
    .mycart-table{
      background: #49b1c2;
      .cart-img{
        width: 600px;
        
        margin: 0 500px;
      }
        tr{
          font-size: 18px;
          text-align: center;
          line-height: 100%;
        }     
    }
  }

