.title {
  color: red;
  font-family: 'roboto', 'Noto Sans TC', arial, '微軟正黑體';
}

.imgbox {
  font-family: 'roboto', 'Noto Sans TC', arial, '微軟正黑體';
  width: 500px;
  height: 500px;
  background: url('/images/personalFolder/logo.png');
}
