$font-family: 'Roboto', 'Noto Sans TC', 'arial', '微軟正黑體';

$color_blue: #49b1c2;
$color_grey: #474747;
$color_light: #949494;
$color_orange: #f9c149;
$color_red: #ec6a6a;

$color_background: #f6f6f6;
$color_border: #dfdfdf;
$boder_radius: 6px;

$font_title_size: 24px;
$font_content_size: 18px;
$shadow: 0px 1px 4px rgba(black, 0.2);

.navbar {
  width: 100%;
  background-color: white;
  font-size: 18px;
  height: 72px;
  padding: 0px;
  box-shadow: 0px 1px 4px rgba(black, 0.2);

  position: relative;
  z-index: 1;

  -webkit-user-select: none; /* for Chrome */
  -moz-user-select: none; /* for Firefox */

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0px;
    // ul, a 共通設定
    ul {
      list-style: none;
    }
    a {
      display: block;
      text-decoration: none;
    }
    //商標
    .brand_logo {
      height: 100%;
      padding-left: 5px;
      flex: 1;
      display: flex;
      align-items: center;
    }
    // container > nav 共用屬性

    > ul {
      padding: 0px;
      display: flex;
      justify-content: center;
      > li {
        > a {
          height: 100%;
          line-height: 72px;
          color: $color_light;
        }
        > a:hover {
          color: $color_blue;
        }
        > a.active {
          color: $color_blue;
        }
        > a:hover {
          color: $color_blue;
        }
        > a.active path {
          color: $color_blue;
        }
      }
    }
    //左邊的nav
    ul.web_nav {
      li {
        a {
          padding: 0 18px;
        }
      }
    }
    //右邊的nav
    ul.member_nav {
      flex: 1;
      justify-content: flex-end;
      padding-right: 5px;
      li {
        a {
          padding: 0 12.5px;
        }
      }
      //通知按鈕
      li.notice_icon {
        position: relative;
        a {
          //通知List
          ul {
            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;
            padding: 10px 0 5px 0;
            background-color: white;
            border-radius: 6px;
            font-size: 16px;
            box-shadow: $shadow;
            line-height: 32px; //這裡
            li.notice_text {
              padding-left: 20px;
              padding-bottom: 4px;
            }
            li {
              a {
                height: 60px; //這裡
                line-height: 60px; //這裡
                color: $color_grey;
                padding: 4px 5px;
                border-top: 1px solid $color_border;
              }
            }
          }
        }
      }
      //會員按鈕
      li.user_icon {
        position: relative;
        a {
          //會員功能List
          ul {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            right: 0;
            width: 160px;
            background-color: white;
            border-radius: 6px;
            box-shadow: $shadow;
            padding: 10px 0 5px 0;
            hr {
              margin: 6px 0 6px 0;
            }
            li {
              text-align: center;
              line-height: 32px; //這裡
              div.avatar {
                display: inline-block;

                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid rgba(black, 0.2);
                // margin: 5px 0;
              }
              a {
                color: $color_grey;
                font-size: 16px;
                padding: 4px 5px;
              }
              a:hover {
                color: $color_blue;
              }
            }
          }
        }
      }
    }
  }
}
