$font-family: 'Roboto', 'Noto Sans TC', 'arial', '微軟正黑體';

$color_blue: #6ec4d2;
$color_grey: #474747;
$color_light: #949494;
$color_orange: #f9c149;
$color_red: #ec6a6a;

$color_background: #f6f6f6;
$color_border: #dfdfdf;
$boder_radius: 6px;

$font_title_size: 24px;
$font_content_size: 18px;
$shadow: 0px 1px 4px rgba(black, 0.2);
.dp-none {
  display: none;
}
.navbar.navblue {
  background-color: #dcf1f6;
}
.navbar {
  width: 100%;
  background-color: white;
  font-size: 18px;
  height: 72px;
  padding: 0px;
  box-shadow: 0px 1px 4px rgba(black, 0.2);

  position: sticky;
  top: 0;
  z-index: 209;

  -webkit-user-select: none; /* for Chrome */
  -moz-user-select: none; /* for Firefox */

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0px;
    // ul, a 共通設定
    ul {
      list-style: none;
      padding: 0;
    }
    a {
      display: block;
      text-decoration: none;
    }
    // a 共通 color
    a {
      color: $color_grey;
    }
    a:hover {
      color: $color_blue;
    }
    a.active {
      color: $color_blue;
    }

    // Logo
    .brand_logo {
      padding-left: 5px;
      flex: 1; // 讓web_nav置中用的
      display: flex;
      img {
        position: relative;
        bottom: 8px;
      }
    }
    // web_nav
    ul.web_nav {
      display: flex;
      justify-content: center;
      li {
        a {
          padding: 0 18px;
          height: 72px;
          line-height: 72px;
        }
        a.active {
          border-bottom: 5px solid #6ec4d2;
        }
      }
    }
    // user_nav
    ul.user_nav {
      padding-right: 5px;
      flex: 1; // 讓web_nav置中用的

      display: flex;
      justify-content: flex-end;
      > li {
        //會員功能按鈕 (購物車 訊息 通知 會員)
        > a {
          padding: 0 12.5px;
          line-height: 72px;
        }
        //通知按鈕
        .notice_btn.newNotice {
          color: $color_blue;
          position: relative;
        }
        .notice_btn.newNotice:after {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background-color: #ec6a6a;
          border: 0.5px solid rgba(255, 255, 255, 0.9);
          border-radius: 50%;
          position: absolute;
          top: 28px;
          left: 23.5px;
        }
        .notice_btn.active {
          color: $color_blue;
        }
        .notice_btn {
          cursor: pointer;
          position: relative;
          height: 72px;
          line-height: 72px;
          padding: 0 12.5px;
          color: $color_grey;
          //通知List (component -> notice.js)
          ul {
            width: 260px;
            max-height: 300px;
            padding: 10px 0 5px 0;
            background-color: white;
            border-radius: 6px;
            box-shadow: $shadow;
            overflow: scroll;
            overflow-x: hidden;

            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);

            line-height: 1; //
            // '通知' header
            li.notice_header {
              color: #949494;
              font-size: 16px;
              padding: 0 0 4px 24px;
            }
            // 每則通知
            li.unread {
              background-color: #dcf1f6;
            }
            li {
              .item {
                color: $color_grey;
                height: 80px;
                padding: 0 12px;
                border-top: 1px solid $color_border;
                display: flex;
                align-items: center;
                img {
                  display: block;
                  width: 35px;
                  height: 35px;
                  object-fit: cover;
                  margin: 0 10px;
                  border-radius: 50%;
                  border: 1px solid #949494;
                  flex-shrink: 0;
                }
                .content {
                  margin-left: 8px;
                  .text {
                    height: 45px;
                    font-size: 14px;
                    color: #686868;
                  }
                  .time {
                    margin-top: -8px;
                    color: #949494;
                    font-size: 12px;
                  }
                }
              }
            }
            a {
              display: block;
            }
          }
        }
        //會員按鈕
        .user_btn.active {
          color: $color_blue;
        }
        .user_btn {
          cursor: pointer;
          position: relative;
          height: 72px;
          line-height: 72px;
          padding: 0 12.5px;
          color: $color_grey;
          //會員功能List
          ul {
            width: 160px;
            padding: 10px 0 5px 0;
            background-color: white;
            border-radius: 6px;
            box-shadow: $shadow;

            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);

            line-height: 1; //
            hr {
              margin: 6px 0 6px 0;
              color: #949494;
            }
            li {
              text-align: center;
              // 會員頭像
              div.avatar {
                display: inline-block;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid rgba(black, 0.2);
                margin-bottom: 12px;
                margin: 5px 0;
              }
              // 每個功能
              a {
                color: $color_grey;
                font-size: 16px;
                padding: 8px 5px;
              }
              a:hover {
                color: $color_blue;
              }
            }
          }
        }
      }
    }
  }
}
