.instagram {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
  min-height: 100vh;
  color: #474747;

  .wipe-in {
    opacity: 1 !important;
    // transition: opacity 3s !important;
  }

  .wipe-out {
    opacity: 0 !important;
    // transition: opacity 2700ms !important;
  }
  //左邊會員功能
  .user {
    width: 265px;
    height: 370px;
    margin-left: 5px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 6px;

    position: fixed;
    .userInfo {
      width: 100%;
      height: 90px;
      display: flex;
      box-sizing: border-box;
      padding: 25px 40px;
      align-items: center;
      img {
        display: block;
        height: 50px;
        width: 50px;
        border: 1px solid #949494;
        border-radius: 50%;
        flex-shrink: 0;
      }
      h5 {
        padding-left: 10px;
        padding-top: 8px;
        font-size: 16px;
      }
      span {
        font-size: 12px;
      }
    }
    .userFunction {
      ul {
        li {
          a {
            display: block;
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
            img {
              width: 17px;
              object-fit: none;
              margin-right: 10px;
            }
          }
          a.active {
            background-color: #ddf0f3;
          }
        }
      }
    }
  }
  //貼文區
  .stories {
    width: 605px;
    margin-left: 280px;
    .story {
      width: 100%;
      min-height: 100px;
      background-color: white;
      border: 1px solid #dbdbdb;
      border-radius: 6px;
      margin-bottom: 10px;
    }
    //新貼文
    .newStory {
      position: relative;
      z-index: 205;
      //新貼文header(作者、功能)
      .post-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        .poster {
          font-size: 14px;
          img {
            display: inline-block;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #949494;
          }
          span {
            line-height: 30px;
            margin-left: 7px;
          }
        }
        .setting {
          line-height: 30px;
          color: #474747;
        }
      }
      hr {
        margin: 0;
      }
      //新貼文body(內容、圖片)
      .post-body {
        width: 95%;
        padding-top: 10px;
        margin: 0 auto;
        position: relative;
        //貼文內容
        .post-content {
          min-height: 80px;
        }
        //placeholder
        .placeholder {
          color: #949494;
          position: absolute;
          top: 10px;
          pointer-events: none; //取消滑鼠事件(讓他穿過去)
        }
        //預覽圖
        .post-image {
          display: flex;
          img {
            display: block;
            height: 80px;
            width: 80px;
            object-fit: contain;
            margin: 5px;
            border: 2px dashed #cacaca;
          }
        }
      }
      //新貼文 (圖片、發佈按鈕)
      .post-footer {
        width: 95%;
        padding: 5px 10px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg:hover {
          color: #49b1c2;
        }
        span {
          color: #49b1c2;
        }
      }
    }
    // 舊貼文
    .oldStory.editStory {
      position: relative;
      z-index: 251;
    }
    .oldStory {
      //貼文header(作者、功能)
      .post-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        .poster {
          font-size: 14px;
          a {
            text-decoration: none;
            color: #474747;
            img {
              display: inline-block;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              border: 1px solid #949494;
            }
            span {
              line-height: 30px;
              margin-left: 7px;
            }
          }
        }
      }
      // 編輯的 點點點
      .editable {
        line-height: 2;
        padding: 0 5px;
        position: relative;
        // 編輯 刪除
        .edit {
          position: absolute;
          right: 0;
          z-index: 5;
          width: 80px;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding: 8px 0;
          background-color: white;
          border: 1px solid #dbdbdb;
          border-radius: 6px;
        }
      }
      hr {
        margin: 0;
      }
      //舊貼文body
      .post-body {
        padding-top: 10px;
        margin: 0 auto;
        position: relative;
        //貼文內容
        .post-content {
          width: 95%;
          min-height: 80px;
          margin: 0 auto;
        }
        .post-photos {
          .carousel {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            position: relative;
            box-shadow: inset 0 0 2px #dfdfdf;

            .carousel_inner {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: hidden;
              // photo list <ul>
              .photo_list {
                transition: 0.4s;
                transition-timing-function: ease-in-out;
                position: absolute;
                height: 100%;
                width: 100%;
                left: -100%;
                top: 0;
                display: flex;

                li {
                  height: 100%;
                  width: 100%;
                  flex-shrink: 0;

                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                  }
                }
              }
            }

            // 上一頁按鈕 <div>
            .btn_prev {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 50px;
              height: 50px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            // 下一頁按鈕 <div>
            .btn_next {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              width: 50px;
              height: 50px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            // pagination <div>
            .pagination {
              position: absolute;
              bottom: -37px;
              left: 50%;
              transform: translateX(-50%);
              font-size: 12px;

              .circle {
                color: #949494;
                margin: 0 1px;
              }
              .circle.active {
                color: #ddf0f3;
              }
            }
          }
          // trick -> width = height
          .carousel:before {
            content: '';
            display: block;
            padding-bottom: 100%; /* initial ratio of 1:1*/
          }
        }
        //預覽圖
        .post-image {
          display: flex;
          img {
            display: block;
            height: 80px;
            width: 80px;
            object-fit: contain;
            margin: 5px;
            border: 2px dashed #cacaca;
          }
        }
      }
      // 舊貼文 footer
      .post-footer {
        height: 55px;
        width: 95%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        color: #949494;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;

        .heart {
          margin-left: 20px;
        }
        .hearted {
          color: #ed4956;
        }
        .favorites {
          vertical-align: middle;
          margin-left: 6px;
          font-size: 12px;
        }
        .bookmark {
          margin-right: 20px;
        }
        .bookmarked {
          color: #262626;
        }
        .oldStoryEdit {
          margin-left: auto;
          font-size: 14px;
          // margin-right: 8px;
        }
        .oldStoryImageEdit {
          // margin-left: 8px;
        }
      }
      // 留言區
      .comments {
        padding: 12px 0 0 0;

        // 每則留言
        .comment {
          display: flex;
          width: 95%;
          margin: 5px auto;
          // 頭像
          img.avatar {
            display: block;
            width: 30px;
            height: 30px;
            border: 1px solid #949494;
            border-radius: 50%;
            flex-shrink: 0;
          }
          // 頭像右邊內容
          .comment_inner {
            margin-left: 8px;
            .text {
              background-color: #ededed;
              padding: 4px 8px;
              border-radius: 4px;
              // 留言人
              .sender {
                white-space: nowrap;
                color: #38bdd8;
              }
              // 留言內容
              .content {
                margin-left: 6px;
                width: 100%;
                word-break: break-word;
              }
            }
            // 留言時間
            .time {
              font-size: 10px;
              color: #949494;
              //留言的留言 按鈕
              .subcomment_btn:hover {
                color: #38bdd8;
              }
            }
          }
        }

        // 留言的留言區
        // 每則留言
        .sub {
          display: flex;
          width: auto;
          margin: 5px auto;
          margin-left: 50px;
          margin-right: 2.5%;
          // 頭像
          img.avatar {
            display: block;
            width: 25px;
            height: 25px;
            border: 1px solid #949494;
            border-radius: 50%;
            margin-top: 5px;
            flex-shrink: 0;
          }
          // 頭像右邊內容
          .comment_inner {
            margin-left: 8px;
            .text {
              background-color: #ededed;
              padding: 4px 8px;
              border-radius: 4px;
              // 留言人
              a {
                text-decoration: none !important;
                .sender {
                  color: #38bdd8;
                }
              }
              // 留言內容
              .content {
                margin-left: 6px;
                width: 100%;
                word-break: break-word;
              }
            }
            // 留言時間
            .time {
              font-size: 10px;
              color: #949494;
              //留言的留言 按鈕
              .subcomment_btn:hover {
                color: #38bdd8;
              }
            }
          }
        }
      }
      // 發布留言
      .publish {
        margin: 2px 0 10px 0;
        .publish_inner {
          width: 90%;
          margin: 0 auto;
          .content {
            border: 1px solid #eeeded;
            display: inline-block;
            min-height: 40px;
            width: 90%;
          }
          .submit {
            vertical-align: top;
            width: 10%;
            color: #38bdd8;
            line-height: 40px;
            margin-left: 10px;
          }
        }
      }
      .sub {
        // background-color: #474747;
        margin-left: 50px;
        .publish_inner {
          width: 80%;
          margin: 0;
          .content {
            display: inline-block;
            min-height: 32px;
            width: 90%;
          }
          .submit {
            vertical-align: top;
            width: 10%;
            color: #38bdd8;
            line-height: 32px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .mask {
    position: absolute;
    z-index: 200;
    top: 72px;
    left: 0;
    // height: 100%;
    // width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .mask.editMask {
    z-index: 250;
  }
  .battle {
    margin-left: 280px;
  }
  //右邊揪團快訊
  .event {
    width: 265px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 10px 20px;

    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 6px;

    position: sticky;
    // margin-left: 980px;
    right: 0;
    top: 120px;
    //標題
    .header {
      //揪團快訊
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      //設定那個字
      > span {
        font-size: 14px;
      }
    }
    //揪團LIST
    ul {
      // 特效
      opacity: 0;
      transition: opacity 0.8s;
      li {
        margin-bottom: 25px;
        a {
          display: block;
          height: 90px;
          color: #013b46;
          //團名
          h5 {
            font-size: 18px;
            color: #013b46;
            margin: 0 0 2px 0;
            padding-left: 16px;
            height: 21px;
            overflow: hidden;
          }
          //詳細資訊
          p {
            font-size: 16px;
            margin: 0;
            color: #557c83;
            line-height: 24px;
            padding-left: 25px;
            vertical-align: middle;
            height: 24px;
            overflow: hidden;
            svg {
              display: inline-block;
              margin-top: -2px;
            }
            span {
              margin-left: 5px;
            }
          }
        }
        a.c1 {
          border-left: 5px solid #ff7575;
        }
        a.c2 {
          border-left: 5px solid #38bdd8;
        }
        a.c3 {
          border-left: 5px solid #f8b926;
        }
      }
    }
  }
}
