.numberSpinner {
	.number {
		display: inline-block;
		font-size: 0;
		background: #f2f2f2;
	}

	.number__field {
		-moz-appearance: textfield;
		display: inline-block;
		vertical-align: top;
		width: 38px;
		height: 40px;
		padding: 8px 15px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 26px;
		background: transparent;
		border: none;
	}

	.number__btn {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 38px;
		height: 40px;
		padding: 0;
		border: none;
		background: transparent;
	}

	.number__btn--down::before {
		content: '';
		position: absolute;
		display: block;
		left: 13px;
		top: 18px;
		height: 3px;
		width: 12px;
		background: #a9a9a9;
	}
	.number__btn--up::before {
		content: '';
		position: absolute;
		display: block;
		left: 13px;
		top: 18px;
		height: 3px;
		width: 12px;
		background: #a9a9a9;
	}

	.number__btn--up::after {
		content: '';
		position: absolute;
		display: block;
		left: 13px;
		top: 18px;
		height: 3px;
		width: 12px;
		background: #a9a9a9;
		transform: rotate(90deg);
	}

	.number__field::-webkit-outer-spin-button,
	.number__field::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
