@import './meterial-input.scss';
@import './input-number.scss';
$c_blue: #49b1c2;
$c_black: #474747;
$c_grey: #949494;
$c_orange: #f9c149;
$c_red: #ec6a6a;
$c_white: #ffffff;

$fontsz_lg: 24px;
$fontsz_sm: 18px;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.lgfont {
	font-size: $fontsz_lg;
}
.smfont {
	font-size: $fontsz_sm;
}
.flex {
	display: flex;
}
.bodyRoot {
	height: 300vh;
	background-color: $c_grey;
	* {
		box-sizing: border-box;
	}
	.container {
		max-width: 1170px;
		width: 100%;
		background-color: $c_grey;
	}
}
// local
.mainBoard {
	background-color: $c_white;
	padding: 20px;
	box-shadow: 0px 0px 3px $c_grey;
	.imgCard {
		width: 420px;
		height: 370px;
		box-shadow: 0px 0px 1px $c_grey;
	}
	.detailCard {
		h2 {
			margin-bottom: 20px;
		}
		p {
			line-height: 40px;
		}
		margin-left: 25px;
		padding: 20px;
		.shoptitle {
			font-size: $fontsz_lg;
		}
	}
	.subBoard {
		padding: 20px;
		margin-top: 20px;
		width: 100%;
		a {
			color: #474747;
		}
		.nav-link.active {
			color: $c_blue;
		}
	}
	button.actionButton {
		background-color: $c_blue;
		border-color: $c_blue;
	}
}

.recBoard {
	margin: 20px 0;
}
//slider
.slider {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 250px;
	overflow: hidden;
	white-space: nowrap;
}

.slider-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.slide {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.arrow {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9f9f9;
	border-radius: 50%;
	cursor: pointer;
	transition: transform ease-in .1s;
}

.nextArrow {
	position: absolute;
	top: 30%;
	right: 25px;
	z-index: 999;
	color: #fff;
}

.backArrow {
	position: absolute;
	top: 30%;
	left: 25px;
	z-index: 999;
	color: #fff;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
	color: #222;
}

.detail-middle {
	a,
	a:active {
		text-decoration: none !important;
	}
	button {
		width: 200px;
		display: block;
		margin: 20px auto;
		margin-left: 0px;
		text-decoration: none !important;
		&:hover {
			text-decoration: none !important;
		}
	}
}
