.ptlist_container {
  width: 1170px;
  min-height: 100vh;
  margin: 0 auto;

  .listsearch {
    display: flex;
    margin: 24px auto 0;
    line-height: 38px;
  }

  .listsearch .searchtitle{
    width: 100px;
    margin-left: 8px;
  }

  .listsearch .searchtime,
  .searchterm,
  .searchlocate,
  .clearbtn,
  .searchbtn {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
  }
  .listsearch .timecol{
    display: flex
  }
  .listsearch input[type='text'] {
    width: 180px;
    margin: 0 8px;
  }
  .listsearch select{
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid #949494;
    margin: 0 8px;
  }
  .listsearch select:focus{
    border-color: #3db4e0;
  }
  .form-control.county-sel,
  .form-control.district-sel {
    display: inline-block;
    width: 120px;

    // border: none;
    // border-bottom: 2px solid #949494;
  }
  .listsearch .zipcode {
    display: none;
  }

.listsearch .btncol{
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}
.listsearch .searchbtn,.clearbtn{
  width: 80px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background: #6ec4d2;
  border-radius: 4px;
  color: #FFF;
  display: inline-block;
}
.listsearch .searchbtn,.clearbtn:hover{
  cursor: pointer;
}
  .commentList {
    display: flex;
    // justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

  }
.noresult{
  margin: 8px auto
}
  .card {
    width: 250px;
    height: 350px;
    border-radius: 5px;
    position: relative;
    margin: 15px;
    font-family: 'Noto Sans CJK TC';
    border: 5px solid #6ec4d2;
    position: relative;
    transition: all 0.3s;
    top: 0px;
    &:hover {
      top: -4px;
    }
    a {
      text-decoration: none;
    }
  }
  .card.easy {
    border: 5px solid #6ec4d2;
  }
  .card.normal {
    border: 5px solid #f9c149;
  }
  .card.hard {
    border: 5px solid #ec6a6a;
  }

  .card .img_contain {
    width: 100%;
    height: 200px;
  }
  .card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .pt_title {
    max-height: 48px;
    overflow: hidden;
  }
  .pt_host {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .pt_host a {
    color: #fff;
    text-shadow: -2px 2px #333;
    transition: 0.5s;
  }
  .pt_host a:hover {
    transform: translateX(2px);
  }
  .host_pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
  .host_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .host_name {
    font-size: 14px;
    // color: #fff;
    font-weight: bolder;
    padding: 5px 0;
    margin: 0 5px;
  }

  .card_bd div {
    margin: 5px 0;
    color: #013b46;
  }
  .card_bd span {
    font-weight: bolder;
  }
  .card_bd i {
    margin: 0px 5px;
  }
  ul.pagination {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    margin: 36px 0;
    .previous,
    .next {
      margin: 0 24px;
    }
    li {
      cursor: pointer;
      display: inline-block;
      margin: 0 8px;
    }
    li.disabled a {
      cursor: default;
      color: #ccc;
    }
    li.active a {
      padding: 8px 12px;
      background-color: #f9c149;
      color: #fff !important;
      border-radius: 6px;
    }
  }
}
