// --------------------------------------
// sidebar
// -------------------------------------- 
.sidebar
    margin: 12px 0px
    margin-right: 12px
    padding: 32px 0
    background-color: #fff
    border-radius: 4px
    border: 1px solid rgba(black,0.1)
    font-size: 18px
    width: 25%
    display: inline-block
    vertical-align: top
    .person
        margin: 0 20px
        .img-outter
            width: 80px
            height: 80px
            margin-right: 16px
            position: relative
            .circle
                border-radius: 100%
                overflow: hidden
                width: 100%
                height: 100%
                img
                    width: 100%
                    height: 100%
                    object-position: 50% 50%
                    object-fit: cover
            .avatar-edit 
                position: absolute
                right: -2px
                z-index: 10
                top: -2px
                display: inline-block
                width: 30px
                height: 30px
                margin-bottom: 0
                border-radius: 100%
                background: #FFFFFF
                border: 1px solid transparent
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.22)
                font-weight: normal
                transition: all .2s ease-in-out
                &:hover 
                    background: #f1f1f1
                    border-color: #d6d6d6 
                input 
                    display: none  
                .pen
                    width: 100%
                    height: 100%
                    font-size: 14px
                    text-align: center
                    line-height: 28px
                    color: #474747     
                    cursor: pointer
        .info
            width: calc(100% - 96px)
            font-size: 18px
            .email
                font-size: 16px
                width: 100%
                word-wrap: break-word
                margin-bottom: 12px
.sidebar_link
    margin-top: 18px
    width: 100%
    a
        padding: 12px 24px
        cursor: pointer
        display: inline-block
        width: 100%
        position: relative
        &:before
            content: ""
            position: absolute
            left: 0
            top: 0
            height: 100%
            width: 0px
            background-color: #3DB4E0
        &:hover
            background-color: #F6F6F6
            color:  #3DB4E0
            font-weight: 500
            &:before
                width: 4px

// --------------------------------------
// Firm_manage
// -------------------------------------- 
.manage_info
    display: inline-block
    vertical-align: top
    min-height: 70vh
    margin: 12px 0px
    background-color: #fff
    border-radius: 4px
    border: 1px solid rgba(black,0.1)
    width: calc(75% - 12px)
    font-size: 18px
    padding: 32px 28px
// account
.col-7.account
    line-height: 45px
    vertical-align: middle
.right-15
    position: relative
    right: 15px
label.col-2
    margin-bottom: 0
    line-height: 45px
.accountInfo
    .col-7
        line-height: 45px

// firmEdit
.firmEdit
    .modal-dialog
        max-width: 900px  
        width: 100% 
        .modal-content
            padding: 32px 60px
    .img_icon
        cursor: pointer
    .post-image 
          display: flex
          img 
            display: block
            height: 80px
            width: 80px
            object-fit: cover
            margin: 5px

// --------------------------------------
// login
// -------------------------------------- 
.login-form 
    ul
        text-align: right
        margin-top: 12px
    .register
        display: inline-block
        vertical-align: top
        margin-left: 6px
        margin-top: 12px
        cursor: pointer
        color: #949494
        &.center
            text-align: center
            display: block
            margin: 0 auto
            margin-top: 12px
    .blue
        color: #3DB4E0
        text-decoration: underline
    .red
        color: #EC6A6A
    .modal-content
        width: 380px
        padding: 24px
    .modal-header
        border: none
    .button
        width: 100%
        margin-top: 12px
    .register_title
        text-align: center
        font-size: 18px
        width: 100%
        padding-bottom: 12px
        cursor: pointer
        &.active
            border-bottom: 4px solid #3DB4E0 
    .login_title
        font-size: 18px
        padding: 0 36px
        padding-bottom: 12px
        cursor: pointer
        &.active
            border-bottom: 4px solid #3DB4E0 
    .login-control
        position: relative
        color: #474747
        i
            position: absolute
            top: 16px
            font-size: 16px
            z-index: 10
            &.fa-lock
                left: 12px
            &.fa-user
                left: 12px
            &.fa-eye
                top: 8px            
                right: 12px
                color: #949494
                cursor: pointer
                padding: 8px
            &.active
                color: #474747
    





		